body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.UserStyle{
  height: 5%;
  background: #FEFBF4;
  margin:30px;
  display: inline-block;
  border: 1px solid #707070;
border-radius: 15px;
}

.userheader{

  margin:15px;
  padding: 10px;

}
.userbody{

  margin:15px;
  padding: 10px;

}

.button {
  color: #3d89c9;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.popup {
z-index :9999;
position :absolute;
top: 30%;
left: 50%;
min-width: 250px;
min-height: 100px;
padding :15px;
border-radius :10px;
transform: translate(-50%, -50%);
background: #fff
}

.bg {
  z-index :9998;
  width: 100% ;
  height: 100%; top: 0; left: 0; background :rgba(0, 0, 0, 0.3)
}